.button {
    border-radius: 15px;
    padding: 15px;
    background-color: var(--tranlucid-white);
    border: 1px solid var(--white);
    color: var(--white);
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    transition: .8s all;
}

.button:hover{
    background-color: var(--white);
    color: var(--black);
}