.button {
    border-radius: 15px;
    padding: 15px;
    background-color: var(--tranlucid-white);
    border: 1px solid var(--white);
    color: var(--white);
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    transition: .6s all ease;
    display: block;
    font-weight: 600;
}

.button:hover{
    background-color: var(--white) !important;
    color: var(--black) !important;
}