@media screen and (min-width: 300px) and (max-width: 400px) {
    #home .container > h1 {
        font-size: 1.8rem;
    }

    #home .welcome h3 {
        font-size: 2.3rem;
    }

    #home .welcome h2 {
        font-size: 3.5rem;
    }
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
    #home {
        background: url('../../assets/background800.jpg') no-repeat;
        background-size: cover;
        background-position: center center;
        height: 90vh;
    }

    #home .container > h1 {
        font-size: 2.5rem;
    }

    #home .welcome h3 {
        font-size: 2.8rem;
    }

    #home .welcome h2 {
        font-size: 4rem;
    }

    #footer {
        background: url('../../assets/footer800.jpg') no-repeat;
        background-size: cover;
        height: 270px;
    }
}
@media screen and (min-width: 1001px) {
    #home {
        background: url('../../assets/background.jpg') no-repeat;
        background-size: cover;
        background-position: center center;
        height: 90vh;
    }

    #home .container > h1 {
        font-size: 3rem;
    }

    #home .welcome h3 {
        font-size: 3rem;
    }

    #home .welcome h2 {
        font-size: 4.5rem;
    }

    #footer {
        background: url('../../assets/background.jpg') no-repeat;
        background-size: cover;
        height: 270px;
    }
}