.item {
    background-color: antiquewhite;
    width: 500px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 15px;
}

.plateImage {
    width: 80px;
    height: 80px;
    border-radius: 15px;
}

.infos {
    display: flex;
    gap: 2rem;
    width: 80%;
    padding: 0 30px;
    font-size: 1.2rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn {
    border-radius: 5px;
    padding: 8px;
    color: var(--white);
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

.Editar{
    background-color: rgb(77, 139, 219);
}

.Deletar {
    background-color: rgb(206, 56, 56);
}