* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --white: #fff;
    --translucid-white: #ffffff50;

    --dark-brown: #3A2F12;
    --translucid-brown: #906749be;

    --light-brown: #b67f41b7;
    --brown: #906749;

    --black: #000;
}